body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
  }
  

  .title{
    max-width: 100%;
height: auto;
border: 2px solid #000;
background: #400056;
color: #ffffff;
font-size: 62px;
font-family: 'Ultra', serif;
letter-spacing: 5px;
text-align: center;
/*padding-left: 205px;*/
padding: 24px 24px;
  }

 /*preloader*/
 .preloader{
  position: fixed;
 width: 100%;
 height: 100vh;
 z-index: 100000;
 background-color: white;
 top: 0;
 display: flex;
 align-items: center;
opacity: 1;
}
.preloader img {
 animation: spin 3s ease;
 transition: all;
 width: 300px;
 margin: 0 auto;
}

/*@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
  /*heasder*/
  header {
    background-color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 100px;
  }
  
  
  .logo img {
    height: auto;
    width: 200px;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 48px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-family: Inter;
    letter-spacing: 0.6px;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger .line {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
  }
  .close-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
  }
  .menu.show {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu.show .close-icon {
    display: block;
  }
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .burger {
      display: flex;
    }
  }
  .hero {
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 0 20px;
    height: auto;
  }
  
  .hero h1 {
    font-size: 68px;
    color: #000;
    font-family: 'Ultra', serif;
    letter-spacing: 0.68px;
    text-align: center;
  }
  
  .hero h3 {
    color: #752D5A;
    text-align: center;
    font-size: 36px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.5;
  }
  
  .hero p {
    color: #752D5A;
    text-align: center;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.5;
  }
  
  .ctas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .hero button {
    border-radius: 10px;
    display: inline-flex;
    padding: 16px 48px;
    align-items: flex-start;
    background-color: #000;
    color: #fff;
    border: none;
    margin: 0 16px;
    text-align: center;
    font-size: 48px;
    font-family: 'Ultra', serif;
    font-weight: 500;
    letter-spacing: 0.6px;
  }
  
  .hero button:hover {
    background: linear-gradient(180deg, rgba(64, 0, 86, 0.42) 0%, rgba(255, 199, 0, 0.42) 100%);
  }
  
  .hero button.hireMe {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-family: 'Ultra', serif;
    margin: 16px;
  }
  
  .left-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .right-column {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .right-column::before {
    content: "";
    background-image: url(img/Hero_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    height: 50%;
  }
  @media screen and (max-width: 1165px) {
    .right-column img {
      max-width: 500px;
      height: auto;
      margin-right: 20px;
      padding: 100px 10px 10px 10px;
    }}
  @media screen and (min-width: 1165px) {
    .right-column img {
      max-width: 800px;
      height: auto;
      margin-right: 16px;
      padding: 16px;
      /*padding: 140px 20px 10px 20px;*/
    }
    /* CSS rules for extra large devices */
  }
  @media screen and (max-width: 768px) {
    .hero {
      flex-direction: column;
      padding: 140px 20px 20px 20px;
      height: auto;
      background-position: center;
    }
  
    .hero h1 {
      font-size: 40px;
      line-height: 50px;
    }
  
    .hero h3 {
      font-size: 24px;
      line-height: 40px;
    }
  
    .hero p {
      font-size: 18px;
      line-height: 30px;
    }
  
    .left-column,
    .right-column {
      margin-right: 0;
    }
  
    .right-column img {
    display: none;
    }

  }
  
  /* skills section
  .mySkillsSection{
outline: 2px solid red;
  }*/

  .skills{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F1F1F1;
  margin-top: 20px;
  }

 .columns {
    display: flex;
    justify-content: center;
    gap: 64px;
  }
  
  .skills .column {
    flex: 1;
    margin-right: 20px;
 text-align: center;
  }
  
 .skills .column:last-child {
    margin-right: 0;
  }
  
  .skills .column h2 {
    color: #000;
    font-size: 40px;
    font-family: 'Ultra', serif;
  }
  
  .skills .column ul {
    color: #000;
    font-size: 18px;
    font-family: Inter;
    line-height: 32px;
    letter-spacing: 0.54px;
    list-style: none;
  }
  
 .skills .column  ul li {
    margin-bottom: 10px;
  }
  .skillsIcon{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
  }


  @media screen and (max-width: 927px) {
    .skills
    {display: flex;
    flex-direction: row;}
    .skills .columns, .skillsIcon{
       display: flex;
       flex-direction: column;
       text-align: left;
    }
.skillsIcon img{
    width: 44px;
    height: 44px;
}
.title{
  width: 100%;
  height: auto;

    /*margin: 16px;*/
}}
/*my work
.myProjects {
  outline: 2px solid red;
}*/

.featured-projects {
  margin: 100px;
}

.work-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.workimg {
  max-width: 100%;
  height: auto;
}

.workText {
  display: flex;
  height: 322px;
  padding: 0px 55px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  flex: 1 0 0;
}

.works1,
.works2 {
  display: flex;
  height: 342px;
  padding: 10px 16px;
  align-items: center;
  align-self: stretch;
  margin: 16px;
  justify-content: center;
}

.works2 {
  flex-direction: row-reverse;
}

.works2:hover,
.works1:hover {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(64, 0, 86, 0.42) 0%,
    rgba(255, 199, 0, 0.42) 100%
  );
  height: 400px;
  padding: 10px 16px;
}

.projectTitle,
.projectInfo {
  display: flex;
  width: 554px;
  flex-direction: column;
  flex-shrink: 0;
}

.projectTitle {
  color: #000;
  font-size: 48px;
  font-family: 'Ultra', serif;
  margin-bottom: 16px;
}

.projectInfo {
  color: #000;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .featured-projects {
    margin: 50px;
  }
  .workimg {
    max-width: 100%;
    height: auto;
  }
  .workText {
    height: auto;
    padding: 0px 20px;
    text-align: center;
  }

  .works1,
  .works2 {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .works1:hover,
  .works2:hover {
    height: auto;
    padding: 10px;
  }

  .projectTitle,
  .projectInfo {
    width: 100%;
  }
}

@media screen and (max-width: 2000px) {
    .featured-projects {
      margin: 0 auto;
    }
  
    .workText {
      height: auto;
      padding: 0px 20px;
      text-align: center;
    }
  
    .works1,
    .works2 {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    .works1:hover,
    .works2:hover {
      height: auto;
      padding: 10px;
    }
  
    .projectTitle,
    .projectInfo {
      width: 100%;
    }
    .workimg {
      max-width: 100%;
      height: 200px;
    }
  }

@media screen and (min-width: 1440px) {
  .featured-projects {
    margin: 50px 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 40px;
  } 

  .workText {
    height: auto;
    padding: 0 40px;
    text-align: center;
  }

  .works1,
  .works2 {
    flex-direction: row;
    height: auto;
    padding: 30px;
  }

  .works1:hover,
  .works2:hover {
    padding: 20px;
  }

  .projectTitle,
  .projectInfo {
    width: 100%;
    text-align: center;
  }

  .projectInfo {
    font-size: 48px;
  }
  
.works2:hover,
.works1:hover {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(64, 0, 86, 0.42) 0%,
    rgba(255, 199, 0, 0.42) 100%
  );
  height: auto;
  padding: 10px 16px;
}
.workimg {
  max-width: 800px;
  height: auto;
}
}



/*about me section */
.about {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 48px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about-right-column{
    flex: 2;
    margin-right: 120px;
    width: 706px;
}


.about-right-column h1{color: #400056;
    font-size: 48px;
    font-family: 'Ultra', serif;
   /* line-height: 147.207%;*/}

.about-right-column p{color: #000;
        font-size: 18px;
        font-family: Inter;
        line-height: 32px;}

.about-left-column {
flex: 1;
 margin: 0;
 align-items: center;
}
@media screen and (max-width: 1220px) {
  .about-left-column {
display: none;
  }
.about-right-column{
  text-align: center;
  margin-left: 100px;
}}
/*.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;/*
}}
/*contact section*/
.contactMe{ display: flex;
flex-direction: column;
background-color: #400056;
padding: 78px 100px 89px 100px;
justify-content: center;
align-items: center;}
.contactMe h1{
    color: #ffffff;
font-size: 48px;
letter-spacing: auto;
line-height: auto;
font-family: 'Ultra', serif;
display: flex;
width: 100%;
flex-direction: column;
}
.contactIcon{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;}
    .contactIcon img{
        width: 44px;
height: 44px;
flex-shrink: 0;
color: #3C0450;
margin: 16px;
padding: 16px;
    }

.contactButton {
    border-radius: 15px;
background: #000;
display: inline-flex;
padding: 7px 30px;
align-items: flex-start;
color: #FFC700;
text-align: center;
font-size: 20px;
font-family: Poppins;
font-weight: 500;
letter-spacing: 0.6px;
}
    @media screen and (max-width: 768px) {
      .contactMe {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      .contactMe .contactIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin: 16px;
      }
      
      .contactMe h1 {
        font-size: 20px;
        margin: 16px;
        text-align: center;
    width: 100%;
      }
      
      .title {
        width: 100%;
        height: auto;
      }
    }
    
    /*pop up form*/
    .popup-btn{
      /*position: absolute!important;*/
   display: flex;
   justify-content: center;
   align-items: center;
      transform: translate(-50%,-50%);
    }
    .main-btn-rect,
    .main-btn-circle{
      position: relative;
      margin: 0;
      font-family: 'Roboto', sans-serif;
      color: #FFFFF0;
      background-color: rgb(0, 0, 0);
      text-transform: uppercase;
      font-size: 25px;
      letter-spacing: 1px;	
      outline: none;
      cursor: pointer;
      z-index: 100;
    }
    .main-btn-rect {
      padding: 10px 80px;
      line-height: 30px;
    }
    .main-btn-rect:before, 
    .main-btn-rect:after{
      position: absolute;
      content: '';
      top:0;
      width: 0%;
      height: 100%;
      background-color: rgba(255, 255, 240, 0.2);
      -webkit-transition: width 0.3s;
      -o-transition: width 0.3s;
      transition: width 0.3s;
    }
    .main-btn-rect:before {
      left: 0;
    }
    .main-btn-rect:after {
      right: 0;
    }
    .main-btn-rect:hover:before, 
    .main-btn-rect:hover:after{
      width: 50%;
    }
    .main-btn-circle{
      height: 40px;
      width: 40px;
      -webkit-border-radius: 50%;
      border-radius: 100%;
      line-height: 40px;
      -webkit-transition: box-shadow 0.3s;
      -o-transition: box-shadow 0.3s;
      transition: box-shadow 0.3s;
    }
    .main-btn-circle:hover{   
      -webkit-box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
      -moz-box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
      box-shadow: inset 2px 1px 0px 20px rgba(255, 255, 240, 0.2);
    }
    .popup{
      position: fixed;
      top: 100%;
      width: 100%;
      height: 100%;
      z-index: 10001;
    }
    .popup.active{
      top:0;
      background-color: rgba(3, 3, 3, 0.98); 
      transition: background-color .6s ,opacity .6s;
    }
    .popup .main-btn-rect{
      padding: 10px 100px;
    }
    .popup .popup-content{
      position: absolute;
      top: 50%;
      left: 50%;
      max-height: 568px;
      min-width: 320px;
      margin-top: 150px;
      padding: 25px;
      background-color: #FFFFF0;
      color: #070000;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transition: margin .6s;
      -webkit-transition: margin .6s;
      -moz-transition: margin .6s;
      -o-transition: margin .6s;
    }
    .popup.active .popup-content{
      margin-top: 0px;
    }
    .popup-content h6{
      display: table;
      font-size: 16px;
      text-align: center;
      margin: 10px auto;
      font-family: 'Roboto',sans-serif;
      text-transform: uppercase;
      font-weight: 100;  
    }
    .form-group{
      position: relative;
      width: 90%;
      margin: 0px auto;
    }
    form#send input, form#send textarea{
      position: relative;
      margin-bottom: 32px;
      width: 100%;
      height: 29px;
      font-family: 'RobotoLight', sans-serif;
      text-indent: 20px;
      background-color: transparent;
      outline: 0;
      border: none;
      border-bottom: 1px solid #070000;
      -webkit-transition: border 0.6s;
      -o-transition: border 0.6s;
      transition: border 0.6s;
    }
    form#send input:focus,
    form#send textarea:focus{
      border-bottom: 1px solid rgb(63, 173, 168); 
    }
    form#send label{
      position: absolute;
      top: 0;
      line-height: 28px;
      -webkit-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
    }
    form#send input:focus + label,
    form#send textarea:focus + label{
      color: rgb(63, 173, 168);
    }
    form#send .txt{
      line-height: 22px;
      left: 2px;
    }
    form#send .main-btn-rect {
      position: relative;
      display: block;
      padding: 12px 80px;
      margin: 0px auto;
      font-size: 14px;
    }
    form#send .main-btn-rect i {
      margin-right: 5px;
    }
    .popup .fade-out{
      position: absolute;
      top: -20px;
      right: -20px;
      text-align: center;
      font-size: 15px;
    }

    /*footer*/
    footer {
        background-color: #000;
        color: #F1F1F1;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    footer p {
        color: #FFF;
text-align: center;
font-size: 20px;
font-family: Inter;
font-weight: 500;
letter-spacing: 0.6px;
display: flex;
height: 59px;
flex-direction: column;
flex: 1 0 0;
    }
    footer img{
        width: 133px;
height: 104px;
    }
.footerContent{
    display: flex;
width: 599px;
height: 131px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
}


footer {
  background-color: #000;
  color: #F1F1F1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer p {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: 0.6px;
  display: flex;
  height: 59px;
  flex-direction: column;
  flex: 1 0 0;
}

footer img {
  width: 133px;
  height: 104px;
}

.footerContent {
  display: flex;
  width: 599px;
  height: 131px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .footerContent {
    flex-direction: column;
  }
}
/*back to top button */
.back-to-top {
    position: fixed;
    bottom: -40px;
    right: 40px;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 50px;
    background: #400056;
    color: #400056;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.back-to-top:focus {
    color: #000;
}
.back-to-top.show {
    bottom: 40px;
    right: 40px;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.back-to-top.show:hover {
    color: #000;
    bottom: 30px;
    opacity: 1;
}
.arrow {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
    position: absolute; width: 12px; height: 12px; background-size: contain;
    transform: rotate(-90deg);
    top: 30%;
    left: 40%;
}
.arrow:nth-child(2){
    top: 42%;
}

@keyframes bounceAlpha {
    0% {opacity: 1; transform: rotate(-90deg) translateX(0px) scale(1);}
    25%{opacity: 0; transform: rotate(-90deg) translateX(10px) scale(0.9);}
    26%{opacity: 0; transform: rotate(-90deg) translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: rotate(-90deg) translateX(0px) scale(1);}
}

.back-to-top:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.back-to-top:hover .arrow:nth-child(2){
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@media only screen and (max-width: 575px) {
    .back-to-top {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .back-to-top.show {
        bottom: 10px;
        right: 10px;
    }
    .back-to-top.show:hover {
        bottom: 10px;
    }
    .arrow {
        top: 27%;
        left: 37%;
    }
}